{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://kit.fontawesome.com/10a4ffef9e.js" crossorigin="anonymous"></script>
  <link rel="icon" href="{% static 'main/img/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/order.css' %}">
  <link rel="stylesheet" href="{% static 'model/css/OpenModels.css' %}">
</head>
<body link="#db8400" alink="green" vlink="blue">
<aside>
  <img src="{% static 'main/img/logo3.png' %}" alt="Лого">
  <span class="logo"> SPICEmodel</span>
  <h3>Навигация</h3>
  <ul>
    <a href="{% url 'home' %}">
      <li><i class="fas fa-home"></i>  Главная</li>
    </a>
    <a href="#">
      <li>
        <ul>
          <a href="{% url 'model_diod' %}">
            <li>Диоды</li>
          </a>
          <a href="{% url 'models_home' %}">
            <li>
              <ul>
                <a href="{% url 'model_bipol' %}">
                  <li> Дискретные биполярные транзисторы</li>
                </a>
                <a href="{% url 'model_bipol' %}">
                  <li> Интегральные биполярные транзисторы</li>
                </a>
                <a href="{% url 'model_pole' %}">
                  <li>Дискретные полевые транзисторы</li>
                </a>
                <a href="{% url 'model_pole' %}">
                  <li>Интегральные полевые транзисторы</li>
                </a>
              </ul>
              Транзисторы
            </li>
          </a>
          <a href="#"><li>Трансформаторы</li></a>
          <a href="#"><li>Операционные уселители</li></a>
        </ul>
        <i class="fas fa-microchip"></i>  Модели
      </li>
    </a>
    <a href="{% url 'about' %}">
      <li><i class="fas fa-address-card"></i>  Про нас</li>
    </a>
    <a href="{% url 'contacts' %}"><li><i class="far fa-id-card"></i> Контакты</li></a>
    <a href="{% url 'order_form' %}">
      <li><i class="fas fa-clipboard-list"></i>  Заказать модель</li>
    </a>
  </ul>
</aside>
<main>
  {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
  {% endif %}
  {% block content %}
  {% endblock %}
</main>

</body>
</html>
