{% extends 'main/common.html' %}

{%block title %}{{ titleContacts }}{% endblock %}

{% block content %}
<div class="posts posts_general posts_indent">
  <div class="post post_single post_first post_last">
    <div class="post__content">
      <h1 class="post-title">Научное направление «Моделирование и проектирование приборов, схем
        и систем микро- и наноэлектроники с учетом влияния внешних воздействующих факторов (температуры и
        радиации)»</h1>
      <div class="post__text">
        <p class="first_child ">Координатор направления – д.т.н., проф.,
          <a target="_blank" href="https://www.hse.ru/org/persons/47633284" class="link">Петросянц
        К.О.</a>,&nbsp;лауреат премии Правительства РФ в области науки и техники, почетный работник высшего спец.
        образования РФ, ординарный профессор НИУ ВШЭ).
        </p>
        <p class="text"><br><span style="font-weight: bold;"><span
                style="font-weight: bold;">Контактная информация:</span></span></p>
        <div class="b-greetings__item _mceNonEditable">
          <div class="first_child b-greetings__person ">
            <div class="first_child g-pic"><img alt="" src="https://www.hse.ru/pubs/share/thumb/138570280:c190x190+0+0:r190x190!"></div>
            <div class="last_child b-greetings__person_data "><a href="http://www.hse.ru/org/persons/47633284"
                                                                      class="b link_dark2 link mceEditable">Петросянц
              Константин Орестович</a>
              <p class="last_child mceEditable">Департамент электронной инженерии: Профессор</p>
            </div>
          </div>
          <div class="last_child b-greetings__descr selcontent mceEditable">123458, Москва, Таллинская, 34, к. 713
            <br>Телефон:&nbsp;(495) 772-95-90*15208,&nbsp;
            <br>E-mail:&nbsp;<a href="mailto:kpetrosyants@hse.ru" style="border-bottom-color: rgba(210, 39, 11, 0.3);" class="link">kpetrosyants@hse.ru</a>
          </div>
        </div>
        <div class="b-greetings__item _mceNonEditable">
          <div class="first_child b-greetings__person ">
            <div class="first_child g-pic"><img alt="" src="https://miem.hse.ru/mirror/org/persons/cimage/47633299"></div>
            <div class="last_child b-greetings__person_data "><a href="http://www.hse.ru/org/persons/47633299"
                                                                      class="b link_dark2 link mceEditable">Харитонов
              Игорь Анатольевич</a>
              <p class="last_child mceEditable">Департамент электронной инженерии: Профессор</p>
            </div>
          </div>
          <div class="last_child b-greetings__descr selcontent mceEditable">123458, Москва, Таллинская, 34<br>Телефон:
            (495) 772-9590*15214,&nbsp;<br>E-mail:&nbsp;<a href="mailto:%20ikharitonov@hse.ru" class="link">ikharitonov@hse.ru</a>
          </div>
        </div>
        <div class="b-greetings__item _mceNonEditable">
          <div class="first_child b-greetings__person ">
            <div class="first_child g-pic"><img alt="" src="https://miem.hse.ru/mirror/org/persons/cimage/47633305"></div>
            <div class="last_child b-greetings__person_data "><a href="http://www.hse.ru/org/persons/47633305"
                                                                      class="b link_dark2 link mceEditable">Самбурский
              Лев Михайлович</a>
              <p class="last_child mceEditable">Департамент электронной инженерии: Доцент</p>
            </div>
          </div>
          <div class="last_child b-greetings__descr selcontent mceEditable">123458, Москва, Таллинская, 34, к. 213<br>Телефон:
            (495) 772-95-90*15227,&nbsp;<br>E-mail:&nbsp;<a href="mailto:%20lsambursky@hse.ru" class="link">lsambursky@hse.ru</a>
          </div>
        </div>
        <p class="text">&nbsp;</p>
        <div class="last_child b-greetings__item congratulationDialog _mceNonEditable">
          <div class="first_child last_child b-greetings__descr selcontent mceEditable">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
