
.ModelsView {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

.ModelsView td, .ModelsView th {
  border: 1px solid #3e474;
  padding: 8px;
}

.ModelsView tr:nth-child(even){background-color: #79917d73;}

.ModelsView tr:hover {background-color: #505160;}

.ModelsView th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #79917d;
  color: #3e4740;
}

